<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="TrainingEcole" connectionString="Data Source=DESKTOP-AD02GFS\SQLEXPRESS;Initial Catalog=AJC;User ID=ajc;Password=ajc"
      providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>